
body {
}
.avatar-cell {
  min-width: 28px;
  text-align: center;
}
.avatar-cell img {
  width: 28px;
  height: 28px;
}
.buttons,
.active {
  white-space: nowrap;
}
.about   { max-width: 200px; }
.website { max-width: 100px; }
.name    { max-width: 100px; }
.email   { max-width: 100px; }
td {
  word-wrap: break-word;
}
textarea {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 100px;
  opacity: 0.5;
  background: transparent;
}
textarea:focus {
  background: #fff;
  opacity: 1.0;
}
